# Database connection string
DATABASE_URI=mongodb://127.0.0.1/your-database-name

# Or use a PG connection string
DATABASE_URI=postgres://postgres.nxademsxnskmzhbjnkzn:O0Pbq6RTug3pfIJy@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x
PAYLOAD_SECRET=4edryug76dt7y8oiufd4677fy8

# Used to encrypt JWT tokens

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
